.article {
	width: 100%;
	height: 100%;

	a {
		color: $color-copy-dark;
	}

	&-box {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}

	&-title {
		font-size: 2em;
		font-weight: 700;
		line-height: 1.375;
		margin-bottom: 2rem;
	}

	&-thumbnail {
		position: relative;
		width: 100%;
		height: 0;
		padding-top: calc(100% * 2 / 3.15);
		.thumbnail {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
		}
	}

	&-except {
		.text {
			font-size: 1.125em;
			font-weight: 400;
			line-height: 1.625;
			margin-top: 1.875rem;
		}
	}

	@media (max-width: $breakpoint-small) {
	&-title{
		font-size: 1.5em;
	}
	}
}

.article-entry {
	&-title {
		font-size: 1.125em;
		font-weight: 500;
		line-height: 1.375;
		margin-top: 0.625em;

		margin-bottom: 3.125em;
	}

	.article-last {
		margin-bottom: 0;
	}

	.article-thumbnail {
		position: relative;
		width: 100%;
		height: 0;
		padding-top: calc(100% * 1 / 2);
		.thumbnail {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
		}
	}
}
