.btn {
	text-decoration: none;
	display: inline-block;

	&:hover {
		cursor: pointer;
	}

	&-primary {
		border-radius: $radius-primary;
		padding: 0.375em 0.75em;
		color: $color-bg-white;
		font-weight: 600;
	}

	&-inline {
		color: $color-copy-dark;
		font-weight: 700;
	}

	&-light {
		background-color: $color-bg-light;
	}

	&-red {
		background-color: $color-bg-primary;
	}
}
