.categorie-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;

	&:not(:last-child) {
		margin-bottom: 0.75em;
	}

	a {
		color: $color-copy-dark;
	}
}

.categorie-thumbnail {
	position: relative;
	width: 100%;
	height: 0;
	padding-top: calc(100% * 1 / 7);
	max-width: 2.5em;
	min-height: 2.5em;

	.thumbnail {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}
}

.categorie-title {
	font-size: 1em;
	font-weight: 500;
	margin: 0 0 0 1em;
}


@media (max-width: $breakpoint-small) {
	.categorie-thumbnail{
		padding-top: 2.5em;
	}
}