$color-border-light: #dddddd;

$color-copy-primary: #f84444;
$color-copy-muted: #818181;
$color-copy-light: #8b8b8b;
$color-copy-dark: #000000;

$color-bg-white: #ffffff;
$color-bg-light: #f0f0f0;
$color-bg-light-gray: #eeeeee;
$color-bg-primary: #f84444;

// border radius
$radius-primary: 0.3125em;
$radius-middle: 0.375em;
