// Here is your main header stylings. You can modify all other, but in general
// try to keep the header stylings in here.
//
// Menu stylings file be found in components/mobile-menu

.site-header {
	position: fixed;
    width: 100%;
    z-index: 1;
}

.site-subheader {
	background-color: $color-bg-primary;

	.site-subheader-inner {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		height: 3em;
	}
}

.site-navigation-subheader {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	&::before,
	&::after {
		content: url(../../dist/images/fire.svg);
		position: static;
		height: 1.25em;
	}

	.menu {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		margin: 0 1em;
	}

	.menu-item-link {
		padding: 0.875em 1em;
		font-weight: 700;
		color: $color-bg-white;
	}
}

.site-header-primary {
	background-color: $color-bg-white;
	border-bottom: 1px solid $color-border-light;

	.site-header-inner {
		display: flex;
		flex-direction: row;
		align-items: center;
		height: 4.375em;
	}
}

.site-branding {
	display: inline-block;

	.site-title {
		font-size: 1em;
		margin: 0;
		display: flex;
		flex-direction: row;
		align-items: center;

		&::after {
			content: "";
			display: block;
			width: 1px;
			height: 1.25em;
			background-color: $color-border-light;
		}

		a {
			display: block;
			background: url(../../dist/images/site-logo.svg) no-repeat center
				center;
			background-size: contain;
			text-indent: -999em;

			width: 7.875em;
			height: 1.625em;
			margin: 0 2.125em 0 0;
		}
	}
}

.site-navigation-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-left: 1.5em;
	width: 100%;
}

.site-navigation-primary,
.site-navigation-secondary {
	.menu {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}
}

.site-navigation-primary {
	.menu-item-link {
		padding: 1em;
		font-weight: 600;
		color: $color-copy-dark;

		&.active {
			color: $color-copy-primary;
		}
	}
}

.site-navigation-secondary {
	.menu-item:not(:last-child) {
		margin-right: 0.5em;

		.btn-search {
			padding: 0.625em;
			display: flex;
			align-items: center;
		}
	}
}

.mobile-menu{
	display: none;
}

@media (max-width: $breakpoint-medium) {
	.site-navigation-wrapper {
		margin-left: 0.5em;
	}

	.site-branding {
		.site-title {
			a{
				margin: 0 1em 0 0;
			}
		}
	}
}

@media (max-width: $breakpoint-normal) {
	.site-header-inner {
		justify-content: space-between;
	}

	.site-navigation-wrapper {
		width: fit-content;
	}

	.site-navigation-primary, .site-subheader {
		display: none;
	}

	.site-branding {
		.site-title {
			&::after {
				display: none;
			}
		}
	}

	.mobile-menu{
		display: block;
		padding: 1em;
    margin-right: -1em;
	}
}
