// Here is your main header stylings. You can modify all other, but in general
// try to keep the header stylings in here.
//
// Menu stylings file be found in components/mobile-menu

.site-header {
	position: relative;
	// height: $layout-header-height;
}

.site-header-primary {
	.site-header-inner {
		display: flex;
		flex-direction: row;
		align-items: center;
		height: 4.375em;
	}

	border-bottom: 1px solid $color-border-light;
}

.site-branding {
	display: inline-block;

	.site-title {
		font-size: 1em;
		margin: 0;
		display: flex;
		flex-direction: row;
		align-items: center;

		&::after {
			content: "";
			display: block;
			width: 1px;
			height: 1.25em;
			background-color: $color-border-light;
		}

		a {
			display: block;
			background: url(../../dist/images/site-logo.svg) no-repeat center
				center;
			background-size: contain;
			text-indent: -999em;

			width: 7.875em;
			height: 1.625em;
			margin: 0 2.125em 0 0;
		}
	}
}

.site-navigation-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-left: 1.5em;
	width: 100%;
}

.site-navigation-primary,
.site-navigation-secondary {
	.menu {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}
}

.site-navigation-primary {
	.menu-item-link {
		padding: 1em;
		font-weight: 600;
		color: $color-copy-dark;

		&.active {
			color: $color-copy-primary;
		}
	}
}

.site-navigation-secondary {
	.menu-item:not(:last-child) {
		margin-right: 0.5em;

		.btn-search {
			padding: 0.625em;
			display: flex;
			align-items: center;
		}
	}
}
